          <ul class="nav navbar-nav">
            <li>
              <a href="/categories.html">
                Categoies
              </a>
            </li>
            <li>
              <a href="/tags.html">
                Tags
              </a>
            </li>
            <li>
              <a href="/archives.html">
                Archives
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                Back Up
              </a>
            </li>
            <li>
              <a href="/about.html">
                About
              </a>
            </li>
          </ul>